# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
venv312/
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Log Files
*.log

# ZIP Files
*.zip

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
dist/
build/